@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url(header.css);

* {
    font-family: "Josefin Sans", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #207AB3;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

h1 {
    color: white;
    font-size: 6rem;
}