@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url(header.css);

* {
    font-family: "Josefin Sans", sans-serif;
}

html, body {
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    background-color: #207AB3;
}

/* Pierwsza sekcja (informacje) */
#info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    padding: 30px;
    min-height: 700px;
    color: white;
}

/* Basic opis */
#desc {
    flex-direction: column;
    align-content: center;
    align-self: flex-start;
    margin-top: 80px;
    display: flex;
    width: 700px;
}

#desc h1 {
    font-size: 48px;
}

#desc p {
    font-size: 16px;
}

/* Zdjęcie profilowe */
#image {
    align-self: center;
    width: 600px;
}

#image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 1px 4px 20px 3px rgba(0, 0, 0, 0.4);
}

/* Druga sekcja (hobby) */
#hobby {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 200px;
    display: flex;
    padding: 50px;
    min-height: 500px;
    background-color: #F6F6F6;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.hobby {
    flex-direction: column;
    display: flex;
    text-align: center;
    font-size: 24px;
}

.hobby img {
    height: 250px;
    border-radius: 50%;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.3);
}

/* Trzecia sekcja (kontakt) */
#kontakt {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    display: flex;
    min-height: 300px;
    color: white;
}

#email {
    flex-direction: column;
    display: flex;
    text-align: center;
}

#name {
    font-size: 24px;
    font-weight: bold;
}

#socials {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    display: flex;
}

.social img {
    height: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}