@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url(header.css);

* {
    font-family: "Josefin Sans", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}

main {
    flex-direction: column;
    gap: 24px;
    display: flex;
    padding: 30px;
}

.project {
    flex-direction: row;
    gap: 32px;
    display: flex;
}

.project img {
    height: 130px;
    border-radius: 16px;
}

hr {
    width: 100%;
}